{% extends 'base.html' %}
{% load humanize %}

{% block title %} - Jobs{% endblock %}

{% block content %}

<h1>KSR Router Jobs</h1>

<div class="ui relaxed divided list">
  {% for job in routerjob_list %}
  <div class="item">
    {% if job.is_launching %}
    <i title="launching" class="large radio middle aligned icon"></i>
    <div class="content">
      <a class="header" href="{% url 'jobs:detail' job.id %}">{{ job.name }}</a>
      <div class="description">Waiting for launch...</div>
    </div>
    {% elif job.is_running %}
    <i title="running" class="large selected radio middle aligned icon"></i>
    <div class="content">
      <a class="header" href="{% url 'jobs:detail' job.id %}">{{ job.name }}</a>
      <div class="description">Started {{ job.start_time | naturaltime }} with pid {{ job.pid }}</div>
    </div>
    {% elif job.is_succeeded %}
    <i title="succeeded" class="large check circle outline middle aligned icon"></i>
    <div class="content">
      <a class="header" href="{% url 'jobs:detail' job.id %}">{{ job.name }}</a>
      <div class="description">Finished successfully {{ job.start_time | naturaltime }}</div>
    </div>
    {% elif job.is_failed %}
    <i title="failed" class="large remove circle outline middle aligned icon"></i>
    <div class="content">
      <a class="header" href="{% url 'jobs:detail' job.id %}">{{ job.name }}</a>
      <div class="description">Finished {{ job.start_time | naturaltime }} with exit code {{ job.exit_code }}</div>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>

{% if is_paginated %}
<div class="ui pagination menu">

  {# FIXME: lots of pages? #}

  {% for linkpage in paginator.page_range %}
  <a class="item{% ifequal linkpage page_obj.number %} active{% endifequal %}" href="?page={{ linkpage }}">{{ linkpage }}</a>
  {% endfor %}

</div>
{% endif %}

{% endblock content %}
