<!DOCTYPE html>
{% load static %}
{% load activeurl %}
<html>
  <head>
    <title>KSR {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'semantic/semantic.min.css' %}">
  </head>
  <body>
    {% activeurl parent_tag="a" %}
    <nav class="ui top menu">
      <div class="header item">Kaizen SSH Router</div>
      <a class="item" href="{% url 'jobs:list' %}">Jobs</a>
    </nav>
    {% endactiveurl %}

    <main class="ui page container">
    {% block content %}
    {% endblock %}
    </main>

    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'semantic/semantic.min.js' %}"></script>
    <script>
$(".ui.dropdown").dropdown();
$(".ui.form").form();
$('.tabular.menu .item').tab();
$('.ui.accordion').accordion();
    </script>
  </body>
</html>
